body, html {
    height: 100%;
    width: 100%;
    background-color: rgb(50,50,50);
    font-family: 'Segoe UI';
}
.navbutton {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 10vw;
    position: inherit;
    float:left;
    display: block;
    text-align: center;
}
#naslov {
    margin: auto auto;
    height: 3vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
}
.navbutton > span {
    padding: auto auto;
    font-size: 1.25vw;
    height: 100%;
    position: relative;
}
.news {
    text-decoration: none;
    color: white;
    display:grid;
    background-color: grey;
    margin: 0px auto;
    border: 1px black solid;
    width: 20vw;
    height: 5vw;
    float: left;
    border-radius: 2vw;
    position: inherit;
}
.Text {
    background-color: rgb(70,70,70);
    color: white;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    float:left;
    position:relative;
    font-size: 1.25vw;
}
.image {
    width: 10%;
    position: relative;
    display: block;
    margin: auto auto;
}
.news > span {
    font-size: 1vw;
    margin: auto auto;
    text-align: center;
}
.selected {
    background-color: green;
}
#navlist {
    width: 100%;
    height: 2vw;
    position: inherit;
    background-color: black;
}