body, html {
    height: 100%;
    width: 100%;
    background-color: #2d862d;
    font-family: 'Segoe UI';
}
.navbutton {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 10vw;
    position: inherit;
    float:left;
    display: block;
    text-align: center;
}
#naslov {
    margin: auto auto;
    height: 3vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
}
.navbutton > span {
    padding: auto auto;
    font-size: 1.25vw;
    height: 100%;
    position: relative;
}
.news {
    text-decoration: none;
    color: white;
    display:grid;
    background-color: grey;
    margin: 0px auto;
    border: 1px black solid;
    width: 20vw;
    height: 5vw;
    float: left;
    border-radius: 2vw;
    position: inherit;
}
.Text {
    background-color: #ff6666;
    color: white;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    float:left;
    position:relative;
    font-size: 1.25vw;
}
.image {
    width: 600px;
    height: 600px;
    position: relative;
    display: block;
    margin: auto auto;
}
.news > span {
    font-size: 1vw;
    margin: auto auto;
    text-align: center;
}
.selected {
    background-color: white;
}
#navlist {
    width: 100%;
    height: 2vw;
    position: inherit;
    background-color: white;
}

 @media only screen and (max-width: 600p) {
.container nav {width: 100vw; height: 60px; font-size: 15p;}
.container {width: 100vw;}
.sec {width: 200px;}
.sec p {font-size: 20px;}
.kategorije {width: 100vw; padding: 0vw}
.text h2 {font-size: 30px;}
.row {display: inline-block; width: 100vww}
.slike img {width: 200px; height: 200px;}
.slike {display: block; margin: auto;}
.info {width: 100vw;}
.tekst {display: inline-block; align-items: center; justify-content: center;}
.tekst img {width: 200px; height: 200px; display: block; margin: auto;}
.about-me {width: 100vw;}
.about.me h2 {text-align: center;}
.tekst1 {font-size: 17px; width: 55vw; text-align: center; margin-left: 25vw;}
}
